.carousel {
  margin: 100px auto;
  width: 90%;
  border: 5px solid red;
  display: flex;
  overflow-x: auto; /*Scrollable inside container*/
}

/* remove the scroll bar */
.carousel::-webkit-scrollbar {
  display: none;
}

.group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  animation: spin 5s infinite linear; /*Apply the spin animation to group*/
  padding-right: 1em;
}

.card {
  flex: 0 0 5em; /*Important to overflow*/
  height: 5em;
  padding: 1em;
  background: cornflowerblue;
  font-size: 3rem;
  border-radius: 0.2em;
  text-align: center;
  align-content: center;
}

/* Animation for the card */
@keyframes spin {
  from {
    translate: 0;
  }
  to {
    translate: -100%; /* Adjust the speed */
  }
}
